# Ignore directories and files
_DATA/*
bin/*

# exceptions to above rule
!_DATA/.gitkeep 
!bin/PWB/
!bin/WbDrivers.xml
!bin/WbMacros.xml
!bin/h2-1.4.196.jar

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Ignore logs
*.log

# Include files
!.gitignore

