# Ignore directories and files
_DATA/*
bin/*
bin/PWB/libwim-15.dll
bin/PWB/wimlib-imagex.exe

# exceptions to above rule
!_DATA/.gitkeep
!bin/PWB/
!bin/tmp/.gitkeep
!bin/python/tcl
!bin/python/tkinter
!bin/python/tcl86t.dll
!bin/python/tk86t.dll
!bin/python/_tkinter.pyd
!bin/WbDrivers.xml
!bin/WbMacros.xml
!bin/h2-*.jar
!bin/mssql-jdbc-*.jar
!bin/postgresql-*.jar
!bin/mysql-connector-java-*.jar
!bin/sqlite-jdbc-*.jar
!bin/pwb.sh

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[co]

# Ignore logs
*.log

# Include files
!.gitignore


