[Desktop Entry]
Name=Preservation Workbench
Exec=./bin/pwb.sh
Icon=/usr/share/icons/Mint-X/categories/32/applications-development.png
Terminal=false
Type=Application
Name[en_US]=PWB
